@import "~bootstrap/dist/css/bootstrap.min.css";
.dos {
  background-color: green;
  position: relative;
  padding-left: 15%;
  padding-right: 20%;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
}
table {
  align-content: center;
  padding-left: 20%;
  padding-right: 50%;
  padding-bottom: 20%;
  padding-top: 10%;
  background-color: white;
  position: relative;
  width: 25%;
  height: 80%;
  margin: 25%;
  border-radius: 7%;
}
img {
  position: relative;
  width: 60px;
  height: 60px;
}
body {
  align-content: center;
  text-align: center !important;
  border: 30%;
}
#form {
  display: inline-block;
  position: relative;
}

#left {
  padding-top: 10%;
  float: left;
  width: 20%;
}
#right {
  float: right;
  width: 80%;
}
